<link rel="stylesheet" href="/css/adm/adm.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/js/registro/excluirConta.js"></script>
<script src="/js/registro/editarConta.js"></script>
<script src="/js/serviço/cadastrarServico.js"></script>
<script src="/js/serviço/editarServico.js"></script>
<script src="/js/serviço/excluirServico.js"></script>
<script src="/js/atestado/verificarDatasAtestado.js"></script>
<script src="/js/atestado/cadastroAtestado.js"></script>


<% if(typeof admAlteracao == 'undefined') { %>

  <main class="background-main">

    <section class="section-adm">
      
      <div class="container-servicos">
        <h3>Serviços cadastrados</h3>
            <input type="text" class="form-control" id="servico" name="servico">
            <button class="btn btn-primary btn-add" style="margin-top: 12px;">Cadastrar serviço</button>

           <div class="container-tabela">
              <table class="table table-hover table-responsive" >
                <thead>
                  <tr>
                    <th scope="col" data-label="Serviço" style="text-align: start;">Serviço</th>
                    <th scope="col"  data-label="Ações" style="text-align: end;">Ações</th>
                  </tr>
                </thead>

                <tbody> 
                  <% for(let i=0;i<servicos.length;i++) { %>
                    <tr>
        
                      <td scope="row" style="text-align: start;" data-label="Nome" ><%= servicos[i].nome %></td>
    
                      <td scope="row" data-label="Ações" style="text-align: end;" class="acoes">
                        <span>ㅤ</span><span>ㅤ</span><span>ㅤ</span>
                        <a href="/administrador/servicos/editar/<%= servicos[i].id %>" class="card-link" style="background-color: transparent; border: none;"><i class="fas fa-edit" style="color: #74C0FC;"></i></a>
                        <button type="button" class="btn-excluir" data-id="<%= servicos[i].id %>" data-nome="<%= servicos[i].nome %>" style="border: none; background-color: transparent; ">
                          <i class="fas fa-trash" style="color: #d72323;"></i>
                        </button>
                        <span>ㅤ</span>
                        <span>ㅤ</span>
                        <span>ㅤ</span>
                      </td>
                    </tr>
                  <% } %>
                </tbody>

              </table>
              
           </div>
           
      </div>


      
      <!-- <div class="container-relatorio" style="margin-top: 20px;">
        <h3>Relatórios</h3>
        <div class="botoes-relatorios">

          <a href="/administrador/relatorio/atestado" class="btn btn-primary"><i class="fas fa-hospital-user"></i> Relatório de atestado</a>
          <a href="/administrador/relatorio/usuarios" class="btn btn-primary"><i class="fas fa-users"></i> Relatório de usuários cadastrados</a>

        </div>
      </div>
    </section> -->


  </main>


<%} else { %>
  <main class="background-main">

    <section class="section-adm">
      
      <div class="container-servicosEditar">
        <h3>Serviços cadastrados</h3>

          <div class="mb-3" hidden>
            <input type="text" class="form-control" id="id" name="id" value="<%= admAlteracao.id %>">
          </div>
          
            <input type="text" class="form-control" id="servico" name="servico" value="<%= admAlteracao.nome %>">
            <button class="btn btn-primary btn-addEditar" style="margin-top: 12px;">Atualizar serviço</button>

            <a href="/administrador/relatorio/servicos" style="margin-top: 20px;"><i class="fas fa-users"></i>Ver relátorio de serviços</a>
           <!-- <div class="container-tabela">
              <table class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: start;">Serviço</th>
                    <th scope="col"  style="text-align: end;">Ações</th>
                  </tr>
                </thead>
                <tbody> 
                  <% for(let i=0;i<servicos.length;i++) { %>
                    <tr>
        
                      <td scope="row" style="text-align: start;" data-label="Nome" ><%= servicos[i].nome %></td>
    
                      <td scope="row" data-label="Ações" style="text-align: end;">
                        <a href="/administrador/servicos/editar/<%= servicos[i].id %>" class="card-link" style="background-color: transparent; border: none;"><i class="fas fa-edit" style="color: #74C0FC;"></i></a>
                        <button type="button" class="btn-excluir" data-id="<%= servicos[i].id %>" data-nome="<%= servicos[i].nome %>" style="border: none; background-color: transparent; ">
                          <i class="fas fa-trash" style="color: #d72323;"></i>
                        </button>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
           </div> -->
      </div>

      
      
      <!-- <div class="container-relatorio" style="margin-top: 20px;">
        <h3>Relatórios</h3>
        <div class="botoes-relatorios">

          <a href="/administrador/relatorio/atestado" class="btn btn-primary"><i class="fas fa-hospital-user"></i> Relatório de atestado</a>
          <a href="/administrador/relatorio/usuarios" class="btn btn-primary"><i class="fas fa-users"></i> Relatório de usuários cadastrados</a>

        </div>
      </div> -->

      
    </section>


  </main>
<%}%>