<script src="/js/consulta/cadastroConsulta.js"></script>
<script src="/js/consulta/puxarDadosDoPaciente.js"></script>
<link rel="stylesheet" href="/css/consulta/consulta.css">
<body background="/img/background/bg.png">
    
    <div class="d-flex justify-content-center form-container-div">
        <% if(typeof consultaAlteracao == 'undefined') { %>
          <form class="row g-3 form-container">
            <h1 class="d-flex justify-content-center">Agendar Consulta</h1>

            <div class="col-md-6">
              <label for="nomepacientes" class="form-label">Pacientes</label>
              <select name="nomepacientes" id="nomepacientes" class="form-select" onchange="preencherDadosPaciente()">
                  <option disabled selected >Selecione um paciente</option>
                <% for(let i=0;i<lista_pacientes.length;i++) { %>
                    <option value="<%= lista_pacientes[i].id %>"><%= lista_pacientes[i].nome %></option>
                <% } %>
              </select>
            </div>

            <div class="col-md-6">
              <label for="telefone" class="form-label">Telefone</label>
              <input type="text" class="form-control" id="telefone" name="telefone" disabled onchange="mascara('(##)#####-####',this,event)" >
            </div>
            <div class="col-6">
              <label for="email" class="form-label">E-mail</label>
              <input type="text" class="form-control" id="email" name="email" disabled  onblur="validarEmail(this)" >
            </div>
      
            <div class="col-6">
              <label for="servico" class="form-label">Serviço desejado</label>
              <select id="servico" name="servico" class="form-select" onblur="borda(this)">
                <option disabled selected>Selecione uma opção</option>
                <% for (let i=0;i<serv.length;i++) { %>
                  <option value="<%= serv[i].id%>"><%= serv[i].nome %></option>
                <% } %>
              </select>
            </div>
            <div class="col-6">
              <label for="data" class="form-label">Data</label>
              <input type="date" class="form-control" id="data" name="data"onblur="validarDataConsulta(this)">
            </div>
            <div class="col-6">
              <label for="hora" class="form-label">Horário</label>
              <!-- <input type="time" class="form-control" id="hora" name="hora"onblur="validarHoraConsulta(this)"> -->
              <select name="hora" id="hora" class="form-select">
                <option disabled selected>Selecione um horário</option>
                <option value="08:00">08:00</option>
                <option value="08:30">08:30</option>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
            </select>
            
            </div>
  
            <div class="mb-3">
              <label for="obs" class="form-label">Observações</label>
              <textarea class="form-control" id="obs" name="obs" rows="4"></textarea>
            </div>
            
            <div class="col-12 d-flex justify-content-center">
              <button type="button" class="btn btn-primary btn-container btn-add">Cadastrar</button>
            </div>
            <a href="/consulta/lista" style="text-align: center;">Ver consultas cadastradas</a>
          </form>
        <% } else  { %>

          <form class="row g-3 form-container">
            <h1 class="d-flex justify-content-center">Atualizar Consulta</h1>
            <div class="col-md-6">
              <div class="mb-3" hidden>
                <input type="text" class="form-control" id="id" name="id" value="<%= consultaAlteracao.id %>">
              </div>
               <div class="col-md-6">
                
              <label for="nomepacientes" class="form-label">Paciente</label>
              <select name="nomepacientes" id="nomepacientes" class="form-select" style="width: 265px" onchange="preencherDadosPaciente()">

                <% for(let i=0;i<lista_pacientes.length;i++) { %>
                    <% if (lista_pacientes[i].id == consultaAlteracao.nome_id) { %>
                      <option selected disabled value="<%= lista_pacientes[i].id %>"><%= lista_pacientes[i].nome %></option>
                    <%} else { %>
                      <option hidden value="<%= lista_pacientes[i].id %>"><%= lista_pacientes[i].nome %></option>
                    <%}%>
                    
                <% } %>
              </select>
            </div>

          
            </div>
            <div class="col-md-6">
              <label for="telefone" class="form-label">Telefone</label>
              <input type="text" class="form-control" id="telefone" name="telefone" value="<%= consultaAlteracao.telefone %>" onchange="mascara('(##)#####-####',this,event)">
            </div>
            <div class="col-6">
              <label for="email" class="form-label">E-mail</label>
              <input type="text" class="form-control" id="email" name="email" onblur="validarEmail(this)" value="<%= consultaAlteracao.email %>">
            </div>
      
            <div class="col-6">
              <label for="servico" class="form-label">Serviço desejado</label>
              <select id="servico" name="servico" class="form-select" onblur="borda(this)">
                <option disabled value="0">Selecione uma opção</option>
                <% for(let i=0;i<serv.length;i++) { %>
                 <% if(serv[i].id == consultaAlteracao.servico_id) { %>
                    <option selected value="<%= serv[i].id%>"><%= serv[i].nome %></option>
                 <% } else { %>
                    <option value="<%= serv[i].id%>"><%= serv[i].nome %></option>
                 <% } %>
                 <% } %>
              </select>
            </div>
            <div class="col-6">
              <label for="data" class="form-label">Data</label>
              <input type="date" class="form-control" id="data" name="data"onblur="validarDataConsulta(this)" value="<%= new Date(consultaAlteracao.data).toISOString().substring(0, 10) %>">
            </div>

            <div class="col-6">
              <label for="hora" class="form-label">Horário</label>
              <!-- <input type="time" class="form-control" id="hora" name="hora"onblur="validarHoraConsulta(this)"> -->
              <select name="hora" id="hora" class="form-select">
                <option disabled selected>Selecione um horário</option>
                <option value="08:00">08:00</option>
                <option value="08:30">08:30</option>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
            </select>
            
            </div>
  
            <div class="mb-3">
              <label for="obs" class="form-label">Observações</label>
              <textarea class="form-control" id="obs" name="obs" rows="4"><%= consultaAlteracao.obs %></textarea>
            </div>
            
            <div class="col-12 d-flex justify-content-center">
              <button type="button" class="btn btn-primary btn-container btn-add" data-alteracao="true">Atualizar</button>
            </div>
            <a href="/consulta/lista" style="text-align: center;">Ver consultas cadastradas</a>
          </form>
        <% } %>
        
    </div>

    

    </body>
    