<link rel="stylesheet" href="/css/consulta/listaConsulta.css">
<link rel="stylesheet" href="/css/print.css" media="print">
<script src="/js/consulta/excluirConsulta.js"></script>
<script src="/js/consulta/search.js"></script>
<script src="/js/consulta/datas.js"></script>
<script src="/js/consulta/excel.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>


<% if(consultas.length > 0)  {%>
    <h2 style="text-align: center; margin-top: 25px;" class="print">Consultas marcadas!</h2>

    <form class="print">
        <div class="container-search text-center">
            <div class="form-group">
                <label for="" class="form-label">Buscar por:</label>

                <label for="nomePaciente" class="form-label" style="margin-right: 14px; margin-left: 5px;">
                    <input type="radio" value="nome" class="form-check-input" id="nomePaciente" name="tipoBusca" >
                    Nome do paciente
                </label>

                <label for="dataConsulta" class="form-label">
                    <input type="radio" value="data" class="form-check-input" id="dataConsulta" name="tipoBusca">
                    Data consulta
                </label>

                <div id="intervaloData" class="datas" style="margin-bottom: 12px; display: none;">

                    <label for="inicio" class="form-label"></label>
                    <input type="date" id="inicio" name="inicio" class="form-control">

                    <span class="form-label">até</span>

                    <label for="fim" class="form-label"></label>
                    <input type="date" id="fim" name="fim" class="form-control">
                    <button type="button" class="btn btn-primary" id="btnBuscarDatas" style="margin-top: 5px;"><i class="fas fa-search"></i></button>
                    
                </div>
            </div>

            <div class="form-group container-input-e-search"  id="inputBusca">
                <input type="text" class="form-control inputTexto" id="texto" name="texto">
                <button type="button" class="btn btn-primary" id="btnBuscar" style="margin-top: 5px;"><i class="fas fa-search"></i></button>

                <button id="btnExportarExcel" style="background-color: transparent; border: none;" class="btnExcel">
                    <i class="fas fa-file-csv fa-lg" style="font-size: 25px;"></i>
                </button>
                <button style="margin-right: 15px; background-color: transparent; border: none;" class="btnPdf" onclick="window.print()" >
                    <i class="fas fa-file-pdf fa-lg" style="font-size: 25px;"></i>
                </button>
            </div>
            
            
        </div>
    </form>

    <div class="container-lista print">
        <% for(let i=0; i<consultas.length; i++) { %>
            <% if (consultas[i].data) { %>
                <% 
                    const datadata = new Date(consultas[i].data); 
                    const dia = String(datadata.getDate()).padStart(2, '0'); 
                    const mes = String(datadata.getMonth() + 1).padStart(2, '0');
                    const ano = datadata.getFullYear();
                    consultas[i].data = `${dia}/${mes}/${ano}`;
                %>
            <% } %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= consultas[i].nome_id %></h5>
                    <p class="card-text"><%= consultas[i].data %>, <%= consultas[i].hora %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i> <%= consultas[i].telefone %></li>
                    <li class="list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i> <%= consultas[i].email %></li>
                    <li class="list-group-item"><i class="fa fa-briefcase" aria-hidden="true"></i> <%= consultas[i].servico_id %></li>
                    <li class="list-group-item"><i class="fa fa-search-minus" aria-hidden="true"></i> <%= consultas[i].obs %></li>
                </ul>
                <div class="card-body" class="print">
                    <a href="/consulta/editar/<%= consultas[i].id %>" class="card-link print" style="background-color: transparent; border: none;"><i class="fas fa-edit" style="color: #74C0FC;"></i></a>
                    <button type="button" class="btn-excluir print" style="background-color: transparent; border: none; position: absolute; right: 10px;" data-id="<%= consultas[i].id %>" data-nome="<%= consultas[i].nome %>"><i class="fa-solid fa-trash" style="color: #f50a0a;"></i></button>
                </div>
            </div>
        <% } %>

        <!-- EXPORTAR TABELA COM EXCEL -->
            <table id="tabela" hidden>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Horario</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Serviço</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0;i<consultas.length;i++) {%>
                        <tr>
                            <td><%= consultas[i].nome_id %></td>
                            <td><%= consultas[i].data %></td>
                            <td><%= consultas[i].hora %></td>
                            <td><%= consultas[i].telefone %></td>
                            <td><%= consultas[i].email %></td>
                            <td><%= consultas[i].servico_id %></td>
                            <td><%= consultas[i].obs %></td>
                        </tr>
                    <%}%>
                    
                </tbody>
            </table>

            
    </div>

    <!-- EXPORTAR TABELA COM PDF -->

    
        <table class="tab table table-striped" style="display: none;">
            <h3 class="tab" style="display: none;">Consultas marcadas</h3>
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Serviço</th>
                    <th scope="col">Obs</th>
                </tr>
            </thead>
            <% for(let i=0;i<consultas.length;i++) {%>
            <tbody>
                <tr>
                    <td><%= consultas[i].nome_id %></td>
                    <td><%= consultas[i].data %></td>
                    <td><%= consultas[i].hora %></td>
                    <td><%= consultas[i].telefone %></td>
                    <td><%= consultas[i].email %></td>
                    <td><%= consultas[i].servico_id %></td>
                    <td><%= consultas[i].obs %></td>
                </tr>
            </tbody>
            <%} %>
        </table>
    

<% } else { %>
    <div class="container-lista">
        <h2 style="margin-top: 220px;">Nenhuma consulta cadastrada!</h2>
    </div>
<% } %>
