<link rel="stylesheet" href="/css/paciente/listaPaciente.css">
<link rel="stylesheet" href="/css/paciente/modal.css">
<link rel="stylesheet" href="/css/print.css" media="print">
<script src="/js/paciente/excluirPaciente.js"></script>
<script src="/js/paciente/dialogPaciente.js"></script>
<script src="/js/paciente/search.js"></script>
<script src="/js/paciente/excel.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>


<% if(pacientes.length > 0) { %>
    <h2 style="text-align: center; margin-top: 25px;" class="print">Pacientes cadastrados!</h2> 

    <form class="print">
        <div class="container-search text-center print">

            <div class="form-group ">
                 <label for="" class="form-label">Buscar por:</label>
     
                 <label for="nomePaciente" class="form-label" style="margin-right: 14px; margin-left: 5px;">
                     <input type="radio" value="nome" class="form-check-input" id="nomePaciente" name="tipoBusca"> 
                     Nome do paciente
                 </label>
     
                 <label for="CPFPaciente" class="form-label">
                     <input type="radio" value="cpf" class="form-check-input" id="CPFPaciente" name="tipoBusca">
                      CPF do paciente
                 </label>
            </div>
     
             <div class="form-group container-input-e-search">
                 <input type="text" class="form-control inputTexto" id="texto" name="texto"  >
                 <button type="button" class="btn btn-primary" id="btnBuscar"><i class="fas fa-search"></i></button>

                 <button id="btnExportarExcel" style="background-color: transparent; border: none;" class="btnExcel">
                    <i class="fas fa-file-csv fa-lg" style="font-size: 25px;"></i>
                </button>
                <button style="margin-right: 15px; background-color: transparent; border: none;" class="btnPdf" onclick="window.print()" >
                    <i class="fas fa-file-pdf fa-lg" style="font-size: 25px;"></i>
                </button>
             </div>

             
            
         </div>
    </form>


    <div class="modal-container print">
            <% for(let i=0;i<pacientes.length;i++) { %>
                    <div class="card-modal" id="search-aqui">
                        <div class="card" style="width: 18rem;">
                            
                            <div class="card-body">
                                <h5 class="card-title"><%= pacientes[i].nome %></h5>
                                <p class="card-text " style="text-align: center;"><i class="fa fa-id-card" aria-hidden="true"></i> <%= pacientes[i].id %> / <%= pacientes[i].cpf %></p>
                            </div>
                            <button class="abrir" data-dialog="dialog-<%= pacientes[i].id %>">Ver mais..</button>
                          </div>

                            <dialog class="texto" id="dialog-<%= pacientes[i].id %>">
                                <div class="card" style="width: 18rem;">
                                    <img src="<%= pacientes[i].pacienteImagem %>" class="card-img-top card-img-perfil">
                            
                                    <% if (pacientes[i].nascimento) { %>
                                        <% 
                                            const dataNascimento = new Date(pacientes[i].nascimento); 
                                            const dia = String(dataNascimento.getDate()).padStart(2, '0'); 
                                            const mes = String(dataNascimento.getMonth() + 1).padStart(2, '0');
                                            const ano = dataNascimento.getFullYear();
                                            pacientes[i].nascimento = `${dia}/${mes}/${ano}`;
                                        %>
                                    <% } %>
                            
                                    <div class="card-body">
                                        <h5 class="card-title"><%= pacientes[i].nome %></h5>
                                        <p class="card-text"><%= pacientes[i].endereco%>, <%=pacientes[i].bairro%>, <%=pacientes[i].cidade%> (<%=pacientes[i].estado_id%>), <%=pacientes[i].cep%> %></p>
                                        <p class="card-text"><i class="fa fa-id-card" aria-hidden="true"></i> <%= pacientes[i].id %></p>
                                    <div class="rolagem-y-card">
                                        
                                    <p class="card-text"><i class="fa fa-phone" aria-hidden="true"></i> <%= pacientes[i].telefone %></p>
                                    <p class="card-text"><i class="fa fa-envelope" aria-hidden="true"></i> <%= pacientes[i].email %></p>   
                                    <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i> <%= pacientes[i].nascimento%></p> 
                                    <p class="card-text"><i class="fa fa-id-card" aria-hidden="true"></i> <%= pacientes[i].cpf%></p> 
                                    <p class="card-text"><i class="fa fa-user" aria-hidden="true"></i> <%= pacientes[i].sexo_id%></p> 
                            
                                    </div>
                                    
                                   
                                    </div>
                                </div>
                                <a href="/paciente/editar/<%= pacientes[i].id %>" class="btn-editar" style="margin-top: 20px;"><i class="fas fa-edit" style="color: #74C0FC;"></i></a>
                                <button type="button" class="btn-excluir" data-id="<%= pacientes[i].id %>" data-nome="<%= pacientes[i].nome %>" style="margin-top: 20px; background-color: transparent; border: none;" ><i class="fa-solid fa-trash" style="color: #f50a0a;"></i></button>
                                <button class="fechar" data-dialog="dialog-<%= pacientes[i].id %>"><i class="fa-solid fa-xmark fa-xl" style="color: #ff0000;"></i></button>
                            </dialog>
                    </div>
                    
            <% } %>


            <table id="tabela" hidden>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Endereço</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>CEP</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Nascimento</th>
                        <th>Sexo</th>
                    </tr>
                </thead>

                <% for (let i=0;i<pacientes.length;i++) {%>
                    <tbody>
                    
                        <tr>
                            <td><%= pacientes[i].nome %></td>
                            <td><%= pacientes[i].cpf %></td>
                            <td><%= pacientes[i].endereco %></td>
                            <td><%= pacientes[i].bairro %></td>
                            <td><%= pacientes[i].cidade %></td>
                            <td><%= pacientes[i].estado_id %></td>
                            <td><%= pacientes[i].cep %></td>
                            <td><%= pacientes[i].telefone %></td>
                            <td><%= pacientes[i].email %></td>
                            <td><%= pacientes[i].nascimento %></td>
                            <td><%= pacientes[i].sexo %></td>
                        </tr>
                   
                    
                </tbody>
                <%}%>
                
            </table>
            
        </div>
        

        <table class="tab" style="display: none;">
            <legend class="tab" style="display: none;">Pacientes cadastrados</legend>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Data de nascimento</th>
                    <th>CPF</th>
                    <th>Sexo</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>CEP</th>
                </tr>
                
            </thead>
            <% for(let i=0;i<pacientes.length;i++) {%>
                <tbody>
                    <td><%= pacientes[i].nome %></td>
                    <td><%= pacientes[i].telefone %></td>
                    <td><%= pacientes[i].email %></td>
                    <td><%= pacientes[i].nascimento%></td>
                    <td><%= pacientes[i].cpf %></td>
                    <td><%= pacientes[i].sexo_id %></td>
                    <td><%= pacientes[i].endereco %></td>
                    <td><%= pacientes[i].bairro %></td>
                    <td><%= pacientes[i].cidade %></td>
                    <td><%= pacientes[i].estado_id %></td>
                    <td><%= pacientes[i].cep %></td>
                </tbody>
            <%} %>
            
        </table>

    
    <div class="container-lista">       
    </div>

<% } else {%>
    <div class="container-lista"><h2 style="margin-top: 220px;">Nenhum paciente cadastrado!</h2></div>
<% } %>

